:root {
  --header-height: 64px;
  --promo-height: 48px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: calc(var(--header-height, 64px) + var(--promo-height, 48px) + 10px);
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
